body {
  margin: 0px auto;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
}
img {
  max-width: 100%;
}
em {
  font-style: italic;
}
nav li {
  //display: inline-block;
  border: 0.1em solid black;
  text-align: left;
  font-size: 2em;
  height: 1.75em;
  }
a {
    color: black;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}
ul li{
  line-height: 200%;
}
article {
  h1 {
    font-size: 2em;
    line-height: 250%;
    a{
      text-decoration: none;
      color: black;
    }
  }
  h2 {
    font-size: 1.5em;
    line-height: 150%;
  }
  h5 {
    font-size: 1.25em;
    line-height: 150%;
  }
  p {
  font-size: 1em;
  text-indent: 1em;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 150%;
  }
  li {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    text-decoration: underline;
  }
  li + p {
    font-size: 0.75em;
    margin-left: 30%;
    margin-right: 30%;
  }
}
